body{
    display: grid; /* grid display */
    grid-template-rows: 300px 1fr 200px 220px;
}

header{
    background-color: black; /*background*/

    min-height: 400px; /* set min height */

    display: grid; /* grid display */
    grid-template-rows: 1fr 2fr;
    align-items: center;

    font-family: 'Anton', sans-serif; /*font setting*/
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    grid-row: 1; /* taken first grid*/
}

nav {
    grid-column:1/-1; /* grid settings */
    grid-row: 1;
}

nav ul {
    display: flex; /*flex*/
    flex-direction: row;
}

nav li {
    margin: auto;/* position setting */
    font-size: 150%;  /* text setting*/
}

a:visited{ /* visited link does not turn blue*/
    color: white;

}

a{ /* all link appear white */
    color: white;
}

a.skip{ /*hide skip link*/
    position: absolute;
    top: -40px;
    color: red;
}

*:focus{ /* focus box*/
    border: 2px solid white;
  }

a.skip:focus{ /* show skip link */
    top: 10px;
    grid-row: 1;
    justify-self: center;
    color: white;
    text-decoration-style: solid;
  }

nav a{ /* remove underline */
    text-decoration: none;
}

@keyframes zoomin { /* animation */
    0%   {font-size: 50%;}
    25%  {font-size: 100%;}
    50%  {font-size: 150%;}
    100% {font-size: 250%;}
  }

h1{
    grid-row:1/-1; /* grid settings */
    grid-column: 1/-1;
    justify-self: center;

    font-size: 250%; /* text setting */

    animation-name: zoomin; /*animation*/
    animation-duration: 4s;
}

a.active{ /*show current page*/
    font-style: italic;
    color: red;
}

.fa-solid:hover{ /* font awsome icon */
    color: red;
}

main{
    background-position: center center; /* background image */
    background-color: grey;
    background-image:url('../images/wall.jpg');

    display: grid; /* grid display*/
    justify-content: center;

    color: white;
}

.maintext{
    background-color: black;
}

article.maintext p{
    font-family: sans-serif; /*text settings*/
    font-size: 80%;
    text-align: center;
    margin: 40px 25px 40px;
}


h2{
    /* text setting*/
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 200%;
    text-align: center;
    margin: 10px;
}

article.gallery{
    display: flex; /*flex gallery*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

section.workout{
    display: flex; /* flex workout page cards*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

section.workout article{ 
    display: grid; /*card content grid */
    justify-items: center;
    background-color: black;
    margin: 20px;
}

section.workout article img{
    background-color: white; /* img background*/
}

section.workout article p{
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
}

h3{
    font-family:  sans-serif; /*font setting*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}


img{
    margin: 10px;
    width: 80vw;
}


@media screen and (prefers-reduced-motion: reduce){
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    h1{
      animation: none;
    }
}


aside{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
aside p{
    margin: 30px;
    font-size: 80%;
    text-align: center;
}

footer{
    color: white;
    background-color: black;

    display: grid;
    grid-template-rows: 40px 1fr 4fr 40px;
    justify-content: center;

    font-family: sans-serif;
    text-align: center;
    color: white;
}

footer p.main{
    grid-row: 2;
    margin-top: 20px;
}

footer p{
    grid-row: 3;
}


form{
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-bottom: 30px;
}
